.content-areaproduct {
    padding-top: 50px;
    p {
        font-family: 'Merriweather';
    }
}

.site-mainproduct {
    padding-top: 3rem;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'novecento_demi';
    letter-spacing: 2px;
}

.taxonomy-description {
    margin-bottom: 3rem;
    border-bottom: 1px dashed #c8c8c8;

    p {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

/*Shop Stuff Nav @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.shop-stuffarch {
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;
}

.do-stuffarch {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 2rem 0;

    li{
        margin: 0 2rem;
        text-transform: uppercase;
        
        a{
            color: #248A83;
            text-decoration: none;
            &:hover {
                color: #2f1339;
            }
        }
    }
}


/*Products @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.products-wrapper {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.product-name {
    float: left; 
    overflow: hidden; 
    white-space: nowrap;
}
.product-name :after { content: " ........................................................................................." }

.archive .product-price {
    float: right; 
    width: 100%; 
    overflow: hidden;
}

.one-product {
    margin-bottom: 2rem;
    img {
        height: 250px;
        width: 250px;
    }
}

.product-info {
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border: 1px solid #e1e1e1;
    font-size: 0.9rem;
}

.thumbnail-wrapper {
    background-color: #e1e1e1;
}

