footer {
    background: url(../../images/dark-wood@2x.png);
}

.footy {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
    color: white;
    line-height: 2;

    h2 {
        color:#d99054;
    }

    .contact {
        flex-basis: 25%;
        
        a{
            text-decoration: none;
            color: white;
        }
    }

    .hours {
        flex-basis: 25%;
    }

    .footyLogo {
        flex-basis: 50%;
        text-align: right;
    }
}

.footyLogo img{
    text-align: left;
    width: 300px;
    margin-top: 25px;
}

.site-info {
    text-align: left;
    width: 100%;
}