.adventureSection h2 {
    text-align: center;
    font-size: 2.5rem;
}

.banner-hero {
    background: url(../../images/logos/inhabitent-logo-full.svg) no-repeat center, linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/home-hero.jpg);
    height: 850px;
    background-size:  20%, cover, cover;
}

.adventures {
  display: flex;
  margin: 0 auto;
  width: 100%;
  border-bottom: 20px solid white;

  a {
      color: white;
  }
}

.left {
    width: 50%;
}

.right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.box1 {
  height: 540px;
  border-right: 20px white solid;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/adventure-photos/canoe-girl.jpg) center;
  background-size: cover,cover;
  display: flex;
  flex-flow: column;
}

.topright {
  width: 100%;
}

.box2 {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/adventure-photos/beach-bonfire.jpg) center;
  background-size: cover;
  border-bottom: 20px white solid;
  display: flex;
  flex-flow: column;
}

.box34 {
  display: flex;
  width: 100%;
}

.box3 {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/adventure-photos/mountain-hikers.jpg) center;
  background-size: cover;
}

.box4 {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/adventure-photos/night-sky.jpg) center;
  background-size: cover;
  border-left: 20px solid white;
  display: flex;
  flex-flow: column;
}

.entry-titlefront {
        font-size: 2.5rem;
        text-decoration: none;
        color: white;

        &:hover {
            color: #f0e4d1;
        }
}

.read-more {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px solid white;
    width: 130px;
    padding: 0.75rem 1.5rem;    

    &:hover {
        background-color: #248A83;
        border: none;
    }
}

.read-more2 {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid black;
    width: 130px;
    padding: 0.75rem 1.5rem;    

    &:hover {
        background-color: #248A83;
        border: none;
    }
}

.box-content {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.latestSection {
  ul{
    display: flex;
    justify-content: space-between;
    
    li {
      list-style: none; 
    }
  }
}