ul {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'novecento_normal';
  font-weight: 400;
  font-style: normal;
}

p{
  font-family: 'Merriweather';
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 1120px;
}

.shop-stuff {
  display: flex;
}

.frontpageh2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 3rem 0;
  text-transform: uppercase;
}

.shopstuff-button {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0.65rem 1.3rem;
    margin: 0.75rem 0;
    background-color: #248A83;
    text-transform: uppercase;

    &:visited {
      color: #fff;
    }

    &:hover {
      color: #fff;
      background-color: #19625d;
    }

}

.do-stuff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  padding: 1rem;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    border: 1px solid #d99054;
    border-top-width: 5px;
  }
  p {
    margin: 20px 0;
  }
  img {
    height: 70px;
    width: 70px;
  }
}


.adventureSection h2 {
    text-align: center;
    font-size: 2.5rem;
}

.banner-hero {
    background: url(../../images/logos/inhabitent-logo-full.svg) no-repeat center, linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/home-hero.jpg);
    height: 100vh;
    background-size:  20%, cover, cover;
}

.adventures {
  display: flex;
  margin: 3rem 0;
  width: 100%;
  border-bottom: 20px solid white;

  a {
      color: white;
  }
}

.left {
    width: 50%;
}

.right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.box1 {
  height: 540px;
  border-right: 20px white solid;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/adventure-photos/canoe-girl.jpg) center;
  background-size: cover,cover;
  display: flex;
  flex-flow: column;
}

.topright {
  width: 100%;
}

.box2 {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/adventure-photos/beach-bonfire.jpg) center;
  background-size: cover;
  border-bottom: 20px white solid;
  display: flex;
  flex-flow: column;
}

.box34 {
  display: flex;
  width: 100%;
}

.box3 {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/adventure-photos/mountain-hikers.jpg) center;
  background-size: cover;
}

.box4 {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)0%, rgba(0, 0, 0, 0.2)100%), url(../../images/adventure-photos/night-sky.jpg) center;
  background-size: cover;
  border-left: 20px solid white;
  display: flex;
  flex-flow: column;
}

.entry-titlefront {
        font-size: 2.3rem;
        text-decoration: none;
        color: white;
        margin-bottom: 15px;

        &:hover {
            color: #f0e4d1;
        }
}

.read-more {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: white;
    border: 1px solid white;
    width: 130px;
    padding: 0.65rem 1.5rem;    

    &:hover {
        background-color: #248A83;
        border: none;
    }
}

.read-more2 {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid black;
    padding: 0.65rem 1.5rem;    
    position: absolute;
    bottom: 10px;
    left: 20px;

    &:hover {
        background-color: #248A83;
        color: #fff;
    }
}

.box-content {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.latestSection {
  ul{
    display: flex;
    justify-content: space-between;

    img {
      height: 250px;
    }
    
    li {
      list-style: none;
      border: 1px solid #e1e1e1;
      margin: 0 0.75rem;
    }
  }
}

.journalwrapper {
  position: relative;
  height: 150px;
  padding: 0.4rem 1.1rem;

  a{
    text-decoration: none;
    &:visited {
      color: black;
    }
    &:hover {
      color: white;
    }
  }

  h2 {
    font-size: 1.4rem;
    color: #248A83;

    &:hover {
      color: black;
    }
  }

  p {
    font-size: 0.75rem;
    margin-top: 2px;
  }
}