.type-post .content-areahome {
	padding-top: 50px;
	margin: 0 auto;
	width: 1120px;
	display: flex;
}

.page-id-11 .site-content{
	display: flex;
	padding-top: 50px;
	width: 1120px;
	margin: 0 auto;
	
}
.page-id-11 .content-area {
	width: 70%;
	border-right: 1px solid #e1e1e1;

}

.widget-area, .page-id-11 .widget-area {
    padding: 3rem;
	width: 30%;
	line-height: 2;
	
	li {
		list-style: none;
		a {
		color: #248a83;
		text-decoration: none;
		}
	}
}

.entry-header {
	position: relative;
	margin-right: 2rem;

	img{
		width:100%;
	}
}

.site-mainhome {
		border-right: 1px solid #e1e1e1;
		width: 70%;
}

.type-post .entry-title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75rem 1.5rem;
	margin-top: 2.25rem;
	background-color: #248a83;

	a{
		color: white;
		text-decoration: none;

		&:hover {
			color: #f0e4d1;
		}
	}
}

.entry-meta {
	position: absolute;
	bottom: 6px;
	right: 0;
	background-color: #248a83;
	color: #fff;
	padding: 0.5rem 1.5rem;

}

.readmore {
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    padding: 0.75rem 1.5rem; 

	a{
		color: black;
		text-decoration: none;
	}

    &:hover {
        background-color: #248A83;
        border: none;
    }
}

