.taxonomy-description {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px dashed #c8c8c8;

    p {
        text-align: center;
    }
}

.single-product .site-mainhome {
    padding-top: 50px;
    border: none;
    width: 1120px;
}

.single-product .entry-meta {
    display: none;
}

.single-product .entry-header {
    flex-basis: 60%;
    img {
        width: 90%;
    }
}

.single-product .type-product {
    display: flex;
    justify-content: space-between;
}

.single-product .entry-content {
    flex-basis: 40%;
}