/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-contact {
	display: flex;
	margin-bottom: 1rem;

	i{
		line-height: 1.95;
		width: 20px;
		margin-right: 10px;
	}

	a{
	text-decoration: none;
	color: #248A83;

	&:hover {
		color: black;
	}
	}
}

/*Search Form Area*/

.wpcf7 {
	
}